<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThemeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <ThemeEditor.Properties.Settings>
      <setting name="LastTheme" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormWindowState" serializeAs="String">
        <value />
      </setting>
    </ThemeEditor.Properties.Settings>
  </userSettings>
</configuration>
